.mt-3{
    margin: 20px;
}

#transaction_list tr td:first-child{
    width: 350px;
}

#transaction_list tr td{
    padding: 5px;
}


#productForm tr td{
    height: 35px;
}

.product_table{
    margin-left: 15px;
    font-size: 1.5em;
}

.product_table tr td{
    padding: 5px;
}

.product_table tr td:first-child{
    width: 300px;
}
